{% extends 'base.html.twig' %}

{% block title %}{{ slug|replace({'-' : ' '})|title }}{% endblock %}

{% block content %}
    {% if slug is empty %}
        <h1>Aucune série sélectionnée, veuillez choisir une série</h1>
    {% else %}
        <h1>{{ slug|replace({'-' : ' '})|title }}</h1>
    {% endif %}
{% endblock %}
